{% extends "tenantbase.jinja" %}
{% import "macros.jinja" as macros %}

{% block content %}
    <div class="row">
        <div class="col-4">
            <ul class="nav nav-pills flex-column">
                {% for d in days %}
                    <li class="nav-item">
                        <a href="{{ url("daydetail", d.day) }}"
                           class="nav-link {% if d.id == day.id %}active{% endif %}">
                            {{ d.prettyname }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <a class="btn btn-primary add-button" href="{{ url("dayadd") }} ">{{ _("Add Day") }}</a>
        </div>
        <div class="col-8">
            <div class="day-heading">
                <h1>
                    {{ day.prettyname }}
                    <a href="{{ url("dayedit", day.day) }}">
                        {{ _("Edit") }}
                    </a>
                </h1>
            </div>
            {{ day.description_html|safe }}
            <dl>
                <dt>{{ _("Sessions") }}:</dt>
                <dd>{{ day.sessions.all()|join(", ") }}</dd>
            </dl>

            {{ macros.last_edited(day) }}
        </div>
    </div>
{% endblock %}
