{% extends "tenantbase.jinja" %}
{% import "macros.jinja" as macros %}

{% block content %}
    <div class="row">
        <div class="col-sm-4">
            <ul class="nav nav-pills flex-column">
                {% for f in factions %}
                    <li class="nav-item">
                        <a href="{{ url("factiondetail", f.slug) }}"
                           class="nav-link {% if f.id == faction.id %}active{% endif %}">
                            {{ f.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <a class="btn btn-primary add-button" href="{{ url("factionadd") }}">{{ _("Add Faction") }}</a>
        </div>
        <div class="col-sm-8">
            <div class="faction-heading">
                <h1>
                    {{ faction.name }}
                    <a href="{{ url("factionedit", faction.slug) }}">
                        {{ _("Edit") }}
                    </a>
                </h1>
            </div>
            <dl>
                <dt>{{ _("Members") }}:</dt>
                <dd>
                    {% for char in faction.characters.all() %}
                        <a href="{{ char.get_absolute_url() }}">{{ char.name }}</a>
                        {%- if not loop.last %},{% endif %}
                    {% endfor %}
                </dd>
            </dl>
            <div class="content">
                {{ faction.description_html|safe }}
            </div>
            {{ macros.last_edited(faction) }}
        </div>
    </div>
{% endblock %}
