{% extends "tenantbase.html" %}
{% load i18n %}
{% load thumbutils %}
{% load thumbnail %}
{% load humanize %}

{% block content %}
    <div class="row">
        <div class="col-4">
            <div class="list-group">
                {% for p in roots %}
                    <a class="tree-{{ p.tree_depth }} list-group-item list-group-item-action {% if note.id == p.id %}active{% endif %}"
                       href="{{ p.get_absolute_url }}">
                        {{ p }}
                    </a>
                {% endfor %}
            </div>
            <a class="btn btn-primary" href="{% url "noteadd" %}">{% translate "Add Note" %}</a>
        </div>
        <div class="col-8">
            <div class="character-heading">
                <h1>
                    {{ note.name }}
                    <a href="{% url "noteedit" note.slug %}">
                        edit
                    </a>
                </h1>
                <nav aria-label="breadcrumb" class="breadcrumbs">
                    <ol class="breadcrumb">
                        {% for ancestor in note.ancestors %}
                            <li class="breadcrumb-item">
                                <a href="{{ ancestor.get_absolute_url }}">{{ ancestor }}</a>
                            </li>
                        {% endfor %}
                        <li class="breadcrumb-item active" aria-current="page">
                            {{ note }}
                        </li>
                    </ol>
                </nav>
            </div>

            <dl>
                {% if note.part_of %}
                    <dt>{% translate "Part of" %}:</dt>
                    <dd><a href="{{ note.part_of.get_absolute_url }}">{{ note.part_of }}</a></dd>
                {% endif %}
            </dl>
            {{ note.description_html|safe }}

            <div>
                <small>{% translate "Last updated" %}: {{ note.last_modified|naturaltime }}
                    {% translate "by" %} {{ note.history.first.history_user }} </small>
            </div>
        </div>
    </div>
{% endblock %}
