{% extends "base.jinja" %}

{% block mainpage %}
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">RPG notes</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
                {% trans trimmed %}
                    An experimental, collaborative note taking app and wiki optimized for RPG games.
                {% endtrans %}
            </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                {% if user.is_authenticated %}
                    <a href="{{ url("campaignlist") }} "
                       class="btn btn-primary btn-lg">{% trans %}List of Campaigns{% endtrans %} </a>
                {% else %}
                    <a href="{{ url("login") }} " class="btn btn-primary btn-lg px-4 gap-3">
                        {% trans %}Log in{% endtrans %}
                    </a>
                    <a href="{{ url("django_registration_register") }} " class="btn btn-outline-secondary btn-lg px-4">
                        {% trans %}Sign up{% endtrans %}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
