{% extends "base.jinja" %}
{% load i18n %}
{#{% load urls %}#}



{% block mainpage %}
    <h1>{% translate "Permission Denied" %}</h1>
{#    {% main_url as url %}#}
    <p>{% blocktrans %}You might want to go back to the <a href="https://rpgnotes.lw1.at/">homepage</a>.{% endblocktrans %}</p>
{% endblock %}
