{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap -->
    {% if debug %}
        <link rel="stylesheet" href="{% url "css" %}">
    {% else %}
        <link rel="stylesheet" href="{% static "css/main.css" %}">
    {% endif %}

</head>
<body>
<div class="container">
    {% block mainpage %}{% endblock %}
</div>
<script src="{% static "libs/bootstrap.min.js" %}"></script>
{% block extra_js %}{% endblock %}
</body>
</html>
