{% load i18n %}
{% load version %}
{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap -->
    {% if debug %}
        <link rel="stylesheet" href="{% url "css" %}">
    {% else %}
        <link rel="stylesheet" href="{% static "css/main.css" %}">
    {% endif %}

</head>
<body>
<div class="container">
    {% bootstrap_messages %}
    {% block mainpage %}{% endblock %}
</div>
<footer>
    <nav class="navbar navbar-dark bg-dark navbar-expand">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/Findus23/RPGnotes/tree/{% commit_id %}"
                       target="_blank" rel="noopener" title="{% commit_id %}">
                        Source
                    </a>
                </li>
                <li class="nav-item">
                    {% if user.is_authenticated %}
                        <a class="nav-link" href="{% url "logout" %}">{% translate "Log out" %}</a>
                    {% else %}
                        <a class="nav-link" href="{% url "login" %}">{% translate "Log in" %}</a>
                    {% endif %}
            </ul>
        </div>
    </nav>

</footer>

<script src="{% static "libs/bootstrap.min.js" %}"></script>

{% if sentry_event_id %}
    <script src="{% static "libs/bundle.min.js" %}"></script>
    <script nonce="{{request.csp_nonce}}">
        Sentry.init({dsn: "{{ sentry_dsn }}"});
        {% get_current_language as LANGUAGE_CODE %}
        Sentry.showReportDialog({eventId: "{{ sentry_event_id }}",lang:"{{ LANGUAGE_CODE }}"});
    </script>
{% endif %}
{% block extra_js %}{% endblock %}
</body>
</html>
