{% extends "base.html" %}
{% load urls %}
{% load i18n %}
{% load version %}

{% block title %}{{ object }}{% endblock %}


{% block mainpage %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    {% with url_name=request.resolver_match.url_name %}
                        <li class="nav-item">
                            <a class="nav-link {% if url_name == 'campaigndetail' %}active{% endif %}"
                               href="{% url "campaigndetail" %}">{% translate "Home" %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if url_name == 'characterdetail' %}active{% endif %}"
                               href="{% url "characterlist" %}">{% translate "Characters" %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if url_name == 'locationdetail' %}active{% endif %}"
                               href="{% url "locationlist" %}">{% translate "Locations" %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if url_name == 'daydetail' %}active{% endif %}"
                               href="{% url "daylist" %}">{% translate "Timeline" %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if url_name == 'lootlist' %}active{% endif %}"
                               href="{% url "lootlist" %}">{% translate "Loot" %}</a>
                        </li>
                    {% endwith %}
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a href="#" class="navbar-text nav-link dropdown-toggle" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">{{ user }}</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item"
                                   href="{% url "change_language" %}">{% translate "Change Language" %}</a></li>

                            {% if user.is_staff %}
                                <li><a class="dropdown-item" href="/admin/">Admin</a></li>
                            {% endif %}
                            <li><a class="dropdown-item"
                                   href="{% main_url %}/profile/">{% translate "Edit User Account" %}</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url "logout" %}">{% translate "Log out" %}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% block heading %}{% endblock %}

    {% block content %}
    {% endblock %}
{% endblock %}
