
html {
  height: 100%;
}


body {
  display: flex;
  flex-direction: column;
  height: 100%;

  > .container {
    flex: 1 0 auto;
  }
}


blockquote {
  @extend .blockquote;
  font-size: 1rem;
  color: $gray-600;
  border-left: solid $gray-400 .25rem;
  padding-left: 1rem;
  font-style: italic;
}


.side-card {
  display: flex;
  position: relative;

  > div {
    padding: 0.5rem;

  }

  .text-col {
    a {
      text-decoration: none;

      &:focus, &:active, &:hover {
        text-decoration: underline;
      }
    }
  }

}

.character-heading {
  border-bottom: solid 2px;
}

.cp:after {
  background: #B87333;
}

.sp:after {
  background: #CFD0D1;
}

.gp:after {
  background: #FFD700;
}

.pp:after {
  background: #B7B4AE;
}

.cp, .sp, .gp, .pp {
  &:after {
    content: "";
    width: 19px;
    height: 19px;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
    margin: 0 5px;
  }
}

footer {
  margin-top: 1rem;

  .navbar-nav {
    justify-content: space-between;
    width: 100%;
    @include media-breakpoint-down(sm) {
      flex-direction: column !important;
      text-align: center;
    }
  }
}

@for $i from 1 through 10 {
  .tree-#{$i} {
    margin-left: $i*1rem;
    width: calc(100% - #{$i*1rem});
  }
}

.lum-lightbox {
  z-index: 50;
}
